Host websys2023
    ServerAliveInterval 60
    ControlMaster auto
    ControlPath /tmp/ssh-mux-%r@%h:%p
    ControlPersist 30
    UseRoaming no
    UserKnownHostsFile /dev/null
    StrictHostKeyChecking no
    User ubuntu
    # HostName、Portは適宜変更
    HostName 127.0.0.1
    Port 22
